.navbar-nav > li > a.head-button {
  color: #fff;
  background-color: #3b7fc4;
  box-shadow: none;
  border: 0;
  line-height: 1.57142857;
  margin: 5px 10px 0 10px;
  padding: 4px 10px;
}
.navbar-nav > li > a.head-button:hover,
.navbar-nav > li > a.head-button:focus {
  background-color: #4796e6;
  color: #fff;
}
.dataTables_wrapper .btn {
  padding-top: 0;
  padding-bottom: 0;
}
.dataTables_wrapper .btn:focus {
  box-shadow: none;
}
.btn:hover,
.btn:focus {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
