/* = Reset classes
-------------------------------------------------------------- */
html,
body {
  /*height: 100%;*/
}
ul li {
  list-style-type: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
object,
embed,
a:link,
a:visited,
select {
  outline: 0 !important;
}
.btn:focus,
.btn:active,
.btn:active:focus,
.btn.active:focus {
  outline: 0 !important;
}
.strong {
  font-weight: 700;
}
.thin {
  font-weight: 300;
}
/* = Helper classes
-------------------------------------------------------------- */
.block {
  text-align: center;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.centered {
  display: inline-block;
  vertical-align: middle;
}
.left {
  float: left;
}
.right {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.relative {
  position: relative;
}
/* = Lists left, right, icon
-------------------------------------------------------------- */
.list-left > li {
  float: left;
}
.list-right > li {
  float: right;
}
.list-left > li a,
.list-right > li a {
  display: block;
}
.list-icon > li,
.list-icon > li > a {
  text-indent: -9999px;
}
/* = Form validation
-------------------------------------------------------------- */
em.error {
  display: none !important;
}
.form-control.error {
  border-color: #D50000;
}
.alert-danger {
  background: #fff;
  border-color: #d04437;
  color: #333;
  position: relative;
  padding: 20px 40px 20px 60px;
}
.alert-danger:before {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
  background-color: #d04437;
  border-color: #d04437;
  color: #333;
}
.alert-danger:after {
  content: "\f071";
  color: #fff;
}
.alert-danger:after {
  color: #fff;
  font-family: 'FontAwesome';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  left: 12px;
  line-height: 1;
  margin-top: -8px;
  position: absolute;
  speak: none;
  top: 50%;
}
/* = Page elements
-------------------------------------------------------------- */
h1 {
  font-size: 24px;
  margin-top: 7px;
}
h2 {
  font-size: 20px;
  margin-top: 7px;
}
h3 {
  margin-top: 7px;
}
h4 {
  margin-top: 0;
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 85%;
}
