#footer .footer-body {
  color: #707070;
  line-height: 1.66666666666667;
  margin: 15px 0;
  min-height: 44px;
  text-align: center;
  display: block;
  font-size: 0;
  list-style: none;
  padding: 0;
}
#footer .footer-body > ul {
  display: block;
  font-size: 0;
  list-style: none;
  padding: 0;
}
#footer .footer-body > ul > li {
  display: inline-block;
  font-size: 12px;
  line-height: 1.66666666666667;
  padding: 0;
  white-space: nowrap;
}
#footer .footer-body > ul > li:after {
  content: "\b7";
  margin-left: 10px;
  speak: none;
}
#footer .footer-body > ul > li + li {
  margin-left: 10px;
}
#footer .footer-body > ul > li:last-child:after {
  content: "";
  margin-left: 0;
  speak: none;
}
#footer .footer-body a {
  color: #707070;
}
#footer {
  font-weight: 400;
  clear: both;
}
#footer-logo {
  /*background: #f5f5f5;*/
  position: relative;
  bottom: -12px;
  padding-bottom: 14px;
}
#footer-logo a {
  display: block;
  height: 24px;
  margin: 0 auto;
  text-align: left;
  text-indent: -9999em;
  width: 138px;
}
#footer-logo a {
  background: url("../img/logo-gray.png") center bottom no-repeat;
}
